@import "tailwindcss";

*{
  font-family: Outfit, sans-serif;
}

.lighthover {
  color: '#fcf4ff';
}

.darkhover{
  color: '#2a004a';
}

.darktheme{
  color: '#11001F';
}

.ovoFont {
  font-family: 'Ovo', serif !important;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}



.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}



