@import "tailwindcss";

*{
  font-family: Outfit, sans-serif;
}

.lighthover {
  color: '#fcf4ff';
}

.darkhover{
  color: '#2a004a';
}

.darktheme{
  color: '#11001F';
}

.ovoFont {
  font-family: 'Ovo', serif !important;
}